# macOS
.DS_Store
*.swp
*.swo
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/
*.iml

# Fichiers de logs
*.log

# Fichiers sensibles
.env
*.pem
*.key

# Export temporaire
#export/
temp/
tmp/

# Fichiers de build PyInstaller
dist/
build/
*.spec           # fichiers .spec générés par PyInstaller
*.egg-info/

# Dossiers de préparation des images disque (DMG / ISO)
RepartitionService_dmg/
RepartitionServices_iso/

# Fichiers images de distribution
*.dmg
*.iso
*.zip
*.tar.gz

# Fichiers de configuration de version (s'il est généré automatiquement)
version.plist    # si vous le générez à chaque build, sinon gardez-le